<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IWTpBasebinding">
          <security mode="Transport" />
        </binding>
        <binding name="IWTpBasebinding1" />
        <binding name="IWTpIntegradorasbinding">
          <security mode="Transport" />
        </binding>
        <binding name="IWTpIntegradorasbinding1" />
        <binding name="IWTpIntegrVendasbinding" maxReceivedMessageSize="2000000">
          <security mode="Transport" />
        </binding>
        <binding name="IWTpIntegrVendasbinding1" />
        <binding name="IWTpaibinding">
          <security mode="Transport" />
        </binding>
        <binding name="IWTpaibinding1" />
        <binding name="IWTpTWXbinding">
          <security mode="Transport" />
        </binding>
        <binding name="IWTpTWXbinding1" />
        <binding name="IWSDLPublishbinding">
          <security mode="Transport" />
        </binding>
        <binding name="IWSDLPublishbinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://sdk.erppronto.com.br:4027/soap/IWTpIntegradoras"
        binding="basicHttpBinding" bindingConfiguration="IWTpIntegradorasbinding"
        contract="IWTpIntegradoras.IWTpIntegradoras" name="IWTpIntegradorasPort" />
      <endpoint address="https://sdk.erppronto.com.br:4027/soap/IWTpBase"
        binding="basicHttpBinding" bindingConfiguration="IWTpBasebinding"
        contract="IWTpBase.IWTpBase" name="IWTpBasePort" />
      <endpoint address="https://sdk.erppronto.com.br:4027/soap/IWTpIntegrVendas"
        binding="basicHttpBinding" bindingConfiguration="IWTpIntegrVendasbinding"
        contract="IWTpIntegrVendas.IWTpIntegrVendas" name="IWTpIntegrVendasPort" />
      <endpoint address="https://sdk.erppronto.com.br:4027/soap/IWTpai"
        binding="basicHttpBinding" bindingConfiguration="IWTpaibinding"
        contract="IWTpai.IWTpai" name="IWTpaiPort" />
      <endpoint address="https://sdk.erppronto.com.br:4027/soap/IWTpTWX"
        binding="basicHttpBinding" bindingConfiguration="IWTpTWXbinding"
        contract="ITWpTWX.IWTpTWX" name="IWTpTWXPort" />
      <endpoint address="https://sdk.erppronto.com.br:4027/soap/IWSDLPublish"
        binding="basicHttpBinding" bindingConfiguration="IWSDLPublishbinding"
        contract="IWSDLPublish.IWSDLPublish" name="IWSDLPublishPort" />
    </client>
  </system.serviceModel>
</configuration>