<div class="container-fluid p-0 w-auto h-auto fixed-bottom">
    <footer class="border-top border-bottom p-0 m-0 bg-warning">
        <div class="container-fluid">
            &copy; 2020 - EstoqueWeb - <a asp-area="" asp-controller="Saldo" asp-action="Index">Saldo</a>
        </div>
    </footer>
</div>