<ul>
    <li>
        CONSULTAS
        <ul>
            <li>
                <a asp-area="" asp-controller="Saldo" asp-action="Index">Saldo</a>
            </li>
            <li>
                <a asp-area="" asp-controller="PedidoDeCompra" asp-action="Index">Pedido de Compra</a>
            </li>
        </ul>
    </li>
    <li>PAGINAS</li>
    <li>PAGINAS</li>
    <li>PAGINAS</li>
    <li>PAGINAS</li>
    <li>PAGINAS</li>
    <li>PAGINAS</li>
    <li>PAGINAS</li>
    <li>PAGINAS</li>
    <li>PAGINAS</li>
    <li>PAGINAS</li>
    <li>PAGINAS</li>
    <li>PAGINAS</li>
    <li>PAGINAS</li>
    <li>PAGINAS</li>
    <li>PAGINAS</li>
    <li>PAGINAS</li>
</ul>