
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}



    @for (int i = 0; i < 10; i++)
    {
        <h1>Teste layout</h1>
    }

<div class="container-fluid  navbar">
    <ul>
        <li>
            Barbanera
        </li>
        <li>
            Contato
        </li>
        <li>
            Menu
        </li>
    </ul>
</div>




