

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow fixed-top">
    <div class="container-fluid ">
        <a class="navbar-brand" asp-area="" asp-controller="Saldo" asp-action="Index">EstoqueWeb</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Saldo" asp-action="Index">Saldo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="PedidoDeCompra" asp-action="Index">Pedido de Compra</a>
                </li>

                @* navbar *@
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Consultas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-area="" asp-controller="Saldo" asp-action="Index">Saldo</a>
                        <a class="dropdown-item" href="#">Inventarios</a>
                        <a class="dropdown-item" href="#">Eliminar Semelhantes</a> @*usar essa query como linq ==( SELECT Produto, Descricao, Grupo FROM Saldoes a WHERE Exists ( SELECT Descricao FROM Saldoes c WHERE a.Descricao = c.Descricao and a.Produto <> c.Produto );)*@
                    </div>
                </li>

            </ul>
        </div>
    </div>
</nav>