@model IEnumerable<EstoqueWeb.Models.PedidoDeCompra>
@using System.Linq.Dynamic;
@using EstoqueWeb.Util
@using System.Data;
@{
    DataTable dt = new DataTable(); }
@{ int i = 0;
    if (!(Model is null))
    {
        i = Model.Count();
        ConvertToDataTable ctdt = new ConvertToDataTable();
        dt = ctdt.ConverterToDataTable(Model.Where(p => p.Id > 0).ToList());
    }
}
<div class="container-fluid border p-0 m-0">
    <div class="table-responsive">
        <table class=" table-striped table-dark table-hover flex-nowrap">
            @if (i > 0)
            {
                <thead>
                    <tr>

                        @{
                            PedidoDeCompra pdc = new PedidoDeCompra();

                            var x = pdc.GetType().GetProperties();
                        }
                        @foreach (var item in x)
                        {
                            <th>@item.Name</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int j = 0; j < dt.Rows.Count; j++)
                    {
                        <tr>
                            @for (int p = 0; p < dt.Rows[j].ItemArray.Length; p++)
                            {
                                <td>@dt.Rows[j].ItemArray[p]</td>
                            }
                        </tr>
                    }
                </tbody>
            }
        </table>
    </div>
</div>

